/*###################################
## Inner Pages
###################################*/

.inner #content {
    padding: 180px 0 30px;
    min-height: 500px;

    h1 {
        margin: 10px auto 30px;
        text-align: center;
    }
}