@mixin font($family, $weight, $size, $style, $letter-spacing, $line-height, $color) {
    font: {
        family: $family;
        weight: $weight;
        size: $size;
        style: $style;
    }

    letter-spacing: $letter-spacing;
    line-height: $line-height;
    color: $color;
}