/*###################################
## Buttons
###################################*/

.btn{
    a{
        overflow: hidden;
        display: inline-block;
        text-align: center;
        object-fit: cover;
        position: relative;
        z-index: 1;
        padding: 10px;
        box-sizing: border-box;
        border: 0;
        max-width: 200px;
        width: 100%;
        @include font($btn-font, 400, 20px, normal, normal, normal, #FFFFFF);
        &::before{
            content:'';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $dark-gray-color;
            transform: translateX(-110%);
            transition: all 0.5s ease;
        }
        &:hover{
            &::before{
                transform: translateX(0);
            }
        }
    }
    &__primary{
        width: 100%;
        a{
            background: $primary-color;
        }
    }
    &__secondary {
        width: 100%;
        a{
            background: $secondary-color;
        }
    }
}
.form-submit {
    background: $primary-color;
    max-width: 200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    input {
        display: block;
        text-align: center;
        object-fit: cover;
        position: relative;
        z-index: 1;
        padding: 10px;
        box-sizing: border-box;
        border: 0;
        width: 100%;
        background: none;
        @include font($btn-font, 400, 20px, normal, normal, normal, #FFFFFF);
    }
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $dark-gray-color;
        transform: translateX(-110%);
        transition: all 0.5s ease;
    }

    &:hover {
        &::before {
            transform: translateX(0);
        }
    }
}
.wpcr3{
    &_submit_btn,
    &_cancel_btn {
        background: $primary-color;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        display: block;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        border: 0;
        width: 100%;
        z-index: 1;
        @include font($btn-font, 400, 20px, normal, normal, normal, #FFFFFF);
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $dark-gray-color;
            transform: translateX(-110%);
            transition: all 0.5s ease;
        }

        &:hover {
            background: $primary-color;
            color: #FFFFFF;
            &::before {
                transform: translateX(0);
            }
        }
    }
}