/*###################################
## Colors
###################################*/
/*font color*/
.has-primary-color{
    color: $primary-color;
}

.has-secondary-color{
    color: $secondary-color;
}

.has-dark-gray-color{
    color: $dark-gray-color;
}

.has-light-gray-color {
    color: $light-gray-color;
}

.has-white-color {
    color: $white-color;
}

/*background color*/
.has-primary-background-color {
    background-color: $primary-color;
}

.has-secondary-background-color {
    background-color: $secondary-color;
}

.has-dark-gray-background-color {
    background-color: $dark-gray-color;
}

.has-light-gray-background-color {
    background-color: $light-gray-color;
}

.has-white-background-color {
    background-color: $white-color;
}