/*###################################
## Fonts
###################################*/

a{
    text-decoration: none;
    color: #000000;
}
h1,h2,h3,h4,h5,h6{margin: 0 auto;}
h1{
    @include font($header-font,400,90px,normal,normal,normal,$primary-color);
}
h2 {
    @include font($header-font, 400, 80px, normal, normal, normal, $primary-color);
}
h3 {
    @include font($font1, 400, 70px, normal, normal, normal, $primary-color);
}
h4 {
    @include font($font1, 400, 60px, normal, normal, normal, $primary-color);
}
h5 {
    @include font($font1, 400, 50px, normal, normal, normal, $primary-color);
}
h6 {
    @include font($font1, 400, 40px, normal, normal, normal, $primary-color);
}
p, ul, ol{
    @include font($p-font, 400, 18px, normal, normal, normal, #000000);
}