/*###################################
## Layouts
###################################*/
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    word-wrap: normal !important;
    overflow: hidden;
    height: 1px;
    margin: -1px;
    padding: 0;
    width: 1px;
    border: 0;
}

.wp-block-column,
.blocks-gallery-item {
    margin: 0 !important;
}

.has-1-columns .wp-block-column {
    flex-basis: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    @include flex(row,wrap,space-around,flex-start);
}

.row {
    max-width: 1440px;
    margin: 0 auto;
}

.cta {
    display: none;
}

.grecaptcha-badge {
    z-index: 999999;
}