//sizes
$width: 1200px;
$max-width: 1600px;
$min-width: 320px;

//color
$primary-color: blue;
$secondary-color: red; 
$dark-gray-color: #333333;
$light-gray-color: #555555;
$white-color: #FFFFFF;

//fonts
$font1: 'Lato';
$font2: Arial;
$header-font: Arial;
$p-font: Arial;
$btn-font: Arial;