/*###################################
## Blog Page
###################################*/
.blog{
    .site-main{
        box-sizing: border-box;
        padding: 0 15px;
    }
    .post{
        h2{
            font-size: 40px;
            text-align: center;
            margin: 15px 0;
        }
        padding: 10px 15px;
        box-sizing: border-box;
        border: 2px solid $primary-color;
        border-radius: 10px;
        transition: all 0.5s ease;
        &:hover{
            transform: scale(1.02);
            box-shadow: 0 0 15px #333333;
        }
    }
}
.single{
    .site-main {
        box-sizing: border-box;
        padding: 0 15px;
    }
    .post {
        h1 {
            font-size: 40px;
            text-align: center;
            margin: 15px 0;
        }

        padding: 10px 15px;
        box-sizing: border-box;
        border: 2px solid $primary-color;
        border-radius: 10px;
        transition: all 0.5s ease;
        margin: 0 0 20px;
        &:hover {
            transform: scale(1.02);
            box-shadow: 0 0 15px #333333;
        }
        .entry-meta{
            display: none;
        }
        .entry-footer{
            span{
                display: none;
                .svg-icon{ display: none;}
                &.posted-on{display: inline-block;}
            }
        }
    }
    .comments-area{
         padding: 10px 15px;
         box-sizing: border-box;
         border: 2px solid $primary-color;
         border-radius: 10px;
         transition: all 0.5s ease;

         &:hover {
             transform: scale(1.02);
             box-shadow: 0 0 15px #333333;
         }
        h2{
            font-size: 40px;
            text-align: center;
            margin: 15px 0;
        }
    }
    .comment-form-flex, .comment-respond{
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        h3{
            color: $primary-color;
            font-size: 20px;
        }
        a{
            color: $primary-color;
        }
    }
    .comment-form{
        label{
            display: block;
        }
        textarea{
            border: 1px solid #A6A6A6;
            border-radius: 10px;
            width: 100%;
        }
        input[type="text"],input[type="phone"],input[type="email"],input[type="url"]{
             border: 1px solid #A6A6A6;
             border-radius: 10px;
             width: 100%;
             height: 40px;
        }
    }
    .comment-reply-link{
        color: $primary-color;
    }
}
.logged-in{
    &.single{
        .post{
            .entry-footer {
                span {
                    &.edit-link{
                        display: inline-block;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}