/*###################################
## Forms
###################################*/
.wpcf7-form{
    text-align: center;
    .ctc-hide{
        display: none;
    }
    p{
        margin: 0;
    }
    .form-top{
        @include flex(row,wrap,space-between,flex-start);
        label{
            width: 32.5%;
        }
    }
    input[type="text"], input[type="email"], input[type="tel"], input[type="url"]{
        box-sizing: border-box;
        padding: 10px 20px;
        border: 1px solid #A6A6A6;
        border-radius: 10px;
        width: 100%;
        height: 40px;
        margin: 10px 0;
        @include font($font1, 400, 16px, normal, normal, normal, $dark-gray-color);
        &::placeholder{
            @include font($font1, 400, 16px, normal, normal, normal, $dark-gray-color);
        }
    }
    textarea{
        box-sizing: border-box;
        padding: 10px 20px;
        border: 1px solid #A6A6A6;
        border-radius: 10px;
        width: 100%;
        height: 160px;
        resize: none;
        margin: 10px 0;
        @include font($font1, 400, 16px, normal, normal, normal, $dark-gray-color);
        &::placeholder{
            @include font($font1, 400, 16px, normal, normal, normal, $dark-gray-color);
        }
    }
    .consent, .privacy{
        @include font($font1, 400, 16px, normal, normal, normal, $dark-gray-color);
        a{
            @include font($font1, 400, 16px, normal, normal, normal, $dark-gray-color);
        }
    }
    .btn{
        overflow: hidden;
        position: relative;
        display: block;
        z-index: 1;
        max-width: 200px;
        margin: 20px auto 0;
        &__primary{
            background: $primary-color;
        }
        input {
            max-width: 100%;
            width: 100%;
            background: none;
            border: 0;
            box-sizing: border-box;
            padding: 10px;
            @include font($btn-font, 400, 20px, normal, normal, normal, #FFFFFF);
        }

        .ajax-loader {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -25px;
        }
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $dark-gray-color;
            transform: translateX(-110%);
            transition: all 0.5s ease;
        }

        &:hover {
            &::before {
                transform: translateX(0);
            }
        }
    }
}