/*###################################
## Header
###################################*/
.site-header {
    &__top{
        background: #28293E;
        padding: 5px 0;
    }
    &__social{
        max-width: 250px;
        margin: 0 0 0 auto;
        ul{
            width: 100%;
            @include flex(row,wrap,space-around,flex-start);
            li{
                a{
                    svg{
                        fill: $white-color;
                    }
                }
            }
        }
    }
    &__bottom{
        .row{
            max-width: 1500px;
        }
    }
}