/*###################################
## Menus
###################################*/

/*Main Menu*/

.main-navigation {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        @include flex(row,wrap,space-around,center);
        li {
            display: inline-block;
            width: (100% / 6);
            max-width: 170px;
            text-align: center;
            a {
                display: block;
                width:100%;
                padding: 40px 10px;
                box-sizing: border-box;
                position: relative;
                @include font($font1, 400, 18px, normal, normal, normal, #FFFFFF);
            }
        }
    }

    ul li a:hover {
        background: #9465b3;
    }

    .current-menu-item a,
    .current_page_item a {
        text-shadow: 0px 0px 20px #000;
    }
    /*Sub Menu*/
    ul {
        li:hover ul {
            visibility: visible;
            opacity: 1;
            margin-top: 0;
        }

        ul {
            background: $primary-color;
            transition: all .3s linear;
            box-shadow: 0px 0px 2px #555;
            box-sizing: border-box;
            position: absolute;
            visibility: hidden;
            margin-top: 50px;
            width: 250px;
            display: block;
            opacity: 0;
            li {
                display: inline-block;
                width: 100%;
                max-width: 100%;
                a {
                    width: 100%;
                    padding: 10px;
                    display: block;
                    box-sizing: border-box;

                    &::after,
                    &::before {
                        display: none !important;
                    }

                    &:hover {
                        background: $secondary-color;
                    }
                }
            }
        }
    }
}

/*Sub Menu*/

/*Sub Sub Menu*/
.main-navigation ul ul {
    ul {
        visibility: hidden !important;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translateY(100%);
    }

    li:hover ul {
        visibility: visible !important;
        opacity: 1 !important;
        transform: translateY(0);
    }

    ul li {}
}

/*Footer Menu*/

.footer-navigation {
    margin-top: 100px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;

        li {
            display: inline-block;
            margin: 0 10px;

            a {
                color: #FFF;

                &:hover {
                    text-shadow: 0px 0px 20px #FFF, 0px 0px 20px #FFF, 0px 0px 20px #FFF;
                }
            }
        }
    }
}

/*Social Menu*/

.social-navigation {
    ul {
        margin: 0 !important;
        list-style: none;
        display: block;
        padding: 0;
        li{
            a{
                &::before{
                    display: none;
                }
            }
        }
    }
}