/*###################################
## Reviews Page
###################################*/
.wpcr3_in_content{
    box-sizing: border-box;
    padding: 0 15px!important;
}
.wpcr3_div_2{
    margin: 0 auto;
    textarea {
        border: 1px solid #A6A6A6;
        border-radius: 10px;
        width: 100%;
    }

    input[type="text"],
    input[type="phone"],
    input[type="email"],
    input[type="url"] {
        border: 1px solid #A6A6A6;
        border-radius: 10px;
        width: 100%;
        height: 25px;
    }
}
div.wpcr3_dotline,
div.wpcr3_review div.wpcr3_dotline {
    border-bottom: 0!important;
}
div.wpcr3_review_item div.wpcr3_item_name,
div.wpcr3_aggregateRating{text-align: center;}
.wpcr3_review{
    padding: 10px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    border: 2px solid $primary-color;
    border-radius: 10px;
    transition: all 0.5s ease;
     &:hover {
         transform: scale(1.02);
         box-shadow: 0 0 15px #333333;
     }
}