@media screen and (max-width: 1024px) {
    body{
        $min-width: 320px;
    }
}
@media screen and (max-width: 800px) {
    .cta {
        background: $primary-color url("assets/images/phonecall.png") no-repeat center center;
        border-bottom-left-radius: 40px;
        border-top: 2px solid $secondary-color;
        border-top-left-radius: 40px;
        text-decoration: none;
        text-indent: -9999em;
        position: fixed;
        display: block;
        bottom: 13%;
        height: 80px;
        width: 100px;
        z-index: 999;
        right: 0;
    }
}