/*
Theme Name: Isatou Properties
Theme URI: 
Author: the Development team
Author URI: https://wordpress.org/
Description: A theme for WordPress 5.
Requires at least: WordPress 4.9.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: isatouproperties
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Isatou Properties is based on Underscores https://underscores.me/, (C) 2012-2018 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*###################################
## Body
###################################*/
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }

body { font-family: "Lato"; margin: 0 auto; width: 100%; min-width: 1200px; }

/*###################################
## Colors
###################################*/
/*font color*/
.has-primary-color { color: blue; }

.has-secondary-color { color: red; }

.has-dark-gray-color { color: #333333; }

.has-light-gray-color { color: #555555; }

.has-white-color { color: #FFFFFF; }

/*background color*/
.has-primary-background-color { background-color: blue; }

.has-secondary-background-color { background-color: red; }

.has-dark-gray-background-color { background-color: #333333; }

.has-light-gray-background-color { background-color: #555555; }

.has-white-background-color { background-color: #FFFFFF; }

/*###################################
## Layouts
###################################*/
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; word-wrap: normal !important; overflow: hidden; height: 1px; margin: -1px; padding: 0; width: 1px; border: 0; }

.wp-block-column, .blocks-gallery-item { margin: 0 !important; }

.has-1-columns .wp-block-column { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.container { width: 100%; margin: 0 auto; display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.row { max-width: 1440px; margin: 0 auto; }

.cta { display: none; }

.grecaptcha-badge { z-index: 999999; }

/*###################################
## Fonts
###################################*/
a { text-decoration: none; color: #000000; }

h1, h2, h3, h4, h5, h6 { margin: 0 auto; }

h1 { font-family: Arial; font-weight: 400; font-size: 90px; font-style: normal; letter-spacing: normal; line-height: normal; color: blue; }

h2 { font-family: Arial; font-weight: 400; font-size: 80px; font-style: normal; letter-spacing: normal; line-height: normal; color: blue; }

h3 { font-family: "Lato"; font-weight: 400; font-size: 70px; font-style: normal; letter-spacing: normal; line-height: normal; color: blue; }

h4 { font-family: "Lato"; font-weight: 400; font-size: 60px; font-style: normal; letter-spacing: normal; line-height: normal; color: blue; }

h5 { font-family: "Lato"; font-weight: 400; font-size: 50px; font-style: normal; letter-spacing: normal; line-height: normal; color: blue; }

h6 { font-family: "Lato"; font-weight: 400; font-size: 40px; font-style: normal; letter-spacing: normal; line-height: normal; color: blue; }

p, ul, ol { font-family: Arial; font-weight: 400; font-size: 18px; font-style: normal; letter-spacing: normal; line-height: normal; color: #000000; }

/*###################################
## Buttons
###################################*/
.btn a { overflow: hidden; display: inline-block; text-align: center; -o-object-fit: cover; object-fit: cover; position: relative; z-index: 1; padding: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 0; max-width: 200px; width: 100%; font-family: Arial; font-weight: 400; font-size: 20px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

.btn a::before { content: ''; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #333333; -webkit-transform: translateX(-110%); -ms-transform: translateX(-110%); transform: translateX(-110%); -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn a:hover::before { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

.btn__primary { width: 100%; }

.btn__primary a { background: blue; }

.btn__secondary { width: 100%; }

.btn__secondary a { background: red; }

.form-submit { background: blue; max-width: 200px; margin: 0 auto; overflow: hidden; position: relative; z-index: 1; }

.form-submit input { display: block; text-align: center; -o-object-fit: cover; object-fit: cover; position: relative; z-index: 1; padding: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 0; width: 100%; background: none; font-family: Arial; font-weight: 400; font-size: 20px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

.form-submit::before { content: ''; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #333333; -webkit-transform: translateX(-110%); -ms-transform: translateX(-110%); transform: translateX(-110%); -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.form-submit:hover::before { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

.wpcr3_submit_btn, .wpcr3_cancel_btn { background: blue; margin: 0 auto; overflow: hidden; position: relative; display: block; text-align: center; padding: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 0; width: 100%; z-index: 1; font-family: Arial; font-weight: 400; font-size: 20px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

.wpcr3_submit_btn::before, .wpcr3_cancel_btn::before { content: ''; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #333333; -webkit-transform: translateX(-110%); -ms-transform: translateX(-110%); transform: translateX(-110%); -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.wpcr3_submit_btn:hover, .wpcr3_cancel_btn:hover { background: blue; color: #FFFFFF; }

.wpcr3_submit_btn:hover::before, .wpcr3_cancel_btn:hover::before { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

/*###################################
## Search
###################################*/
.sidebar form, .error-404 form { position: relative; max-width: 700px; margin: 10px auto; }

.sidebar input[type="search"], .error-404 input[type="search"] { width: 100%; padding: 5px 10px; }

.sidebar input[type="submit"], .error-404 input[type="submit"] { background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#ccc)); background: -webkit-linear-gradient(top, #FFF, #ccc); background: -o-linear-gradient(top, #FFF, #ccc); background: linear-gradient(to bottom, #FFF, #ccc); border: 1px solid #000; position: absolute; padding: 6px; right: 0; top: 0; }

.sidebar .widget:not(:nth-of-type(1)) { background: rgba(255, 255, 255, 0.5); border-bottom: 1px solid #CCC; padding-bottom: 20px; margin-bottom: 20px; padding: 10px 20px; }

.sidebar input[type="submit"] { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.error-404 input[type="submit"] { -webkit-transition: all .4s linear; -o-transition: all .4s linear; transition: all .4s linear; }

.sidebar input[type="submit"]:hover, .error-404 input[type="submit"]:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

/*###################################
## Forms
###################################*/
.wpcf7-form { text-align: center; }

.wpcf7-form .ctc-hide { display: none; }

.wpcf7-form p { margin: 0; }

.wpcf7-form .form-top { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.wpcf7-form .form-top label { width: 32.5%; }

.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], .wpcf7-form input[type="tel"], .wpcf7-form input[type="url"] { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 20px; border: 1px solid #A6A6A6; border-radius: 10px; width: 100%; height: 40px; margin: 10px 0; font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #333333; }

.wpcf7-form input[type="text"]::-webkit-input-placeholder, .wpcf7-form input[type="email"]::-webkit-input-placeholder, .wpcf7-form input[type="tel"]::-webkit-input-placeholder, .wpcf7-form input[type="url"]::-webkit-input-placeholder { font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #333333; }

.wpcf7-form input[type="text"]:-ms-input-placeholder, .wpcf7-form input[type="email"]:-ms-input-placeholder, .wpcf7-form input[type="tel"]:-ms-input-placeholder, .wpcf7-form input[type="url"]:-ms-input-placeholder { font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #333333; }

.wpcf7-form input[type="text"]::-ms-input-placeholder, .wpcf7-form input[type="email"]::-ms-input-placeholder, .wpcf7-form input[type="tel"]::-ms-input-placeholder, .wpcf7-form input[type="url"]::-ms-input-placeholder { font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #333333; }

.wpcf7-form input[type="text"]::placeholder, .wpcf7-form input[type="email"]::placeholder, .wpcf7-form input[type="tel"]::placeholder, .wpcf7-form input[type="url"]::placeholder { font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #333333; }

.wpcf7-form textarea { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 20px; border: 1px solid #A6A6A6; border-radius: 10px; width: 100%; height: 160px; resize: none; margin: 10px 0; font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #333333; }

.wpcf7-form textarea::-webkit-input-placeholder { font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #333333; }

.wpcf7-form textarea:-ms-input-placeholder { font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #333333; }

.wpcf7-form textarea::-ms-input-placeholder { font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #333333; }

.wpcf7-form textarea::placeholder { font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #333333; }

.wpcf7-form .consent, .wpcf7-form .privacy { font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #333333; }

.wpcf7-form .consent a, .wpcf7-form .privacy a { font-family: "Lato"; font-weight: 400; font-size: 16px; font-style: normal; letter-spacing: normal; line-height: normal; color: #333333; }

.wpcf7-form .btn { overflow: hidden; position: relative; display: block; z-index: 1; max-width: 200px; margin: 20px auto 0; }

.wpcf7-form .btn__primary { background: blue; }

.wpcf7-form .btn input { max-width: 100%; width: 100%; background: none; border: 0; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px; font-family: Arial; font-weight: 400; font-size: 20px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

.wpcf7-form .btn .ajax-loader { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: -25px; }

.wpcf7-form .btn::before { content: ''; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #333333; -webkit-transform: translateX(-110%); -ms-transform: translateX(-110%); transform: translateX(-110%); -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.wpcf7-form .btn:hover::before { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }

/*###################################
## Menus
###################################*/
/*Main Menu*/
.main-navigation { /*Sub Menu*/ }

.main-navigation ul { padding: 0; margin: 0; list-style: none; display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.main-navigation ul li { display: inline-block; width: 16.66667%; max-width: 170px; text-align: center; }

.main-navigation ul li a { display: block; width: 100%; padding: 40px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; font-family: "Lato"; font-weight: 400; font-size: 18px; font-style: normal; letter-spacing: normal; line-height: normal; color: #FFFFFF; }

.main-navigation ul li a:hover { background: #9465b3; }

.main-navigation .current-menu-item a, .main-navigation .current_page_item a { text-shadow: 0px 0px 20px #000; }

.main-navigation ul li:hover ul { visibility: visible; opacity: 1; margin-top: 0; }

.main-navigation ul ul { background: blue; -webkit-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; -webkit-box-shadow: 0px 0px 2px #555; box-shadow: 0px 0px 2px #555; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; visibility: hidden; margin-top: 50px; width: 250px; display: block; opacity: 0; }

.main-navigation ul ul li { display: inline-block; width: 100%; max-width: 100%; }

.main-navigation ul ul li a { width: 100%; padding: 10px; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main-navigation ul ul li a::after, .main-navigation ul ul li a::before { display: none !important; }

.main-navigation ul ul li a:hover { background: red; }

/*Sub Menu*/
/*Sub Sub Menu*/
.main-navigation ul ul ul { visibility: hidden !important; position: absolute; top: 0; left: 100%; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); }

.main-navigation ul ul li:hover ul { visibility: visible !important; opacity: 1 !important; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }

/*Footer Menu*/
.footer-navigation { margin-top: 100px; }

.footer-navigation ul { margin: 0; padding: 0; list-style: none; display: block; }

.footer-navigation ul li { display: inline-block; margin: 0 10px; }

.footer-navigation ul li a { color: #FFF; }

.footer-navigation ul li a:hover { text-shadow: 0px 0px 20px #FFF, 0px 0px 20px #FFF, 0px 0px 20px #FFF; }

/*Social Menu*/
.social-navigation ul { margin: 0 !important; list-style: none; display: block; padding: 0; }

.social-navigation ul li a::before { display: none; }

/*###################################
## Header
###################################*/
.site-header__top { background: #28293E; padding: 5px 0; }

.site-header__social { max-width: 250px; margin: 0 0 0 auto; }

.site-header__social ul { width: 100%; display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.site-header__social ul li a svg { fill: #FFFFFF; }

.site-header__bottom .row { max-width: 1500px; }

/*###################################
## Banner
###################################*/
/*###################################
## Content
###################################*/
/*###################################
## Footer
###################################*/
/*###################################
## Sidebar Blog
###################################*/
.sidebar { border: 1px solid #535353; -webkit-box-sizing: border-box; box-sizing: border-box; -ms-flex-preferred-size: 30%; flex-basis: 30%; padding: 20px; }

.sidebar h2 { font-size: 25px; margin: 0; }

.sidebar .widget_search { -webkit-box-sizing: border-box; box-sizing: border-box; background: #6A7A64; margin-bottom: 25px; padding: 20px; width: 100%; }

.sidebar .widget:last-of-type { margin-bottom: 0; }

/*###################################
## Blog Page
###################################*/
.blog .site-main { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 15px; }

.blog .post { padding: 10px 15px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 2px solid blue; border-radius: 10px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.blog .post h2 { font-size: 40px; text-align: center; margin: 15px 0; }

.blog .post:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); -webkit-box-shadow: 0 0 15px #333333; box-shadow: 0 0 15px #333333; }

.single .site-main { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 15px; }

.single .post { padding: 10px 15px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 2px solid blue; border-radius: 10px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; margin: 0 0 20px; }

.single .post h1 { font-size: 40px; text-align: center; margin: 15px 0; }

.single .post:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); -webkit-box-shadow: 0 0 15px #333333; box-shadow: 0 0 15px #333333; }

.single .post .entry-meta { display: none; }

.single .post .entry-footer span { display: none; }

.single .post .entry-footer span .svg-icon { display: none; }

.single .post .entry-footer span.posted-on { display: inline-block; }

.single .comments-area { padding: 10px 15px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 2px solid blue; border-radius: 10px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.single .comments-area:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); -webkit-box-shadow: 0 0 15px #333333; box-shadow: 0 0 15px #333333; }

.single .comments-area h2 { font-size: 40px; text-align: center; margin: 15px 0; }

.single .comment-form-flex, .single .comment-respond { text-align: center; max-width: 800px; margin: 0 auto; }

.single .comment-form-flex h3, .single .comment-respond h3 { color: blue; font-size: 20px; }

.single .comment-form-flex a, .single .comment-respond a { color: blue; }

.single .comment-form label { display: block; }

.single .comment-form textarea { border: 1px solid #A6A6A6; border-radius: 10px; width: 100%; }

.single .comment-form input[type="text"], .single .comment-form input[type="phone"], .single .comment-form input[type="email"], .single .comment-form input[type="url"] { border: 1px solid #A6A6A6; border-radius: 10px; width: 100%; height: 40px; }

.single .comment-reply-link { color: blue; }

.logged-in.single .post .entry-footer span.edit-link { display: inline-block; margin-left: 20px; }

/*###################################
## Reviews Page
###################################*/
.wpcr3_in_content { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 15px !important; }

.wpcr3_div_2 { margin: 0 auto; }

.wpcr3_div_2 textarea { border: 1px solid #A6A6A6; border-radius: 10px; width: 100%; }

.wpcr3_div_2 input[type="text"], .wpcr3_div_2 input[type="phone"], .wpcr3_div_2 input[type="email"], .wpcr3_div_2 input[type="url"] { border: 1px solid #A6A6A6; border-radius: 10px; width: 100%; height: 25px; }

div.wpcr3_dotline, div.wpcr3_review div.wpcr3_dotline { border-bottom: 0 !important; }

div.wpcr3_review_item div.wpcr3_item_name, div.wpcr3_aggregateRating { text-align: center; }

.wpcr3_review { padding: 10px; margin: 0 auto 20px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 2px solid blue; border-radius: 10px; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.wpcr3_review:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); -webkit-box-shadow: 0 0 15px #333333; box-shadow: 0 0 15px #333333; }

/*###################################
## Search Page
###################################*/
.page-description { text-align: center; margin-bottom: 40px; font-weight: 700; font-size: 25px; display: block; }

.page-description::after { content: ' "'; }

.page-description::before { content: '" '; }

.search article { -webkit-transition: all .5s linear; -o-transition: all .5s linear; transition: all .5s linear; border: 1px solid #000; margin-bottom: 30px; padding: 20px; display: block; }

.search article:hover { -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000; }

.search article:last-of-type { margin-bottom: 0; }

.search article h2 { margin: 0 0 20px; font-size: 35px; }

.search-con { padding-right: 5%; -ms-flex-preferred-size: 65%; flex-basis: 65%; }

/*###################################
## Error Page
###################################*/
.error-404 { text-align: center; }

/*###################################
## Inner Pages
###################################*/
/*###################################
## Inner Pages
###################################*/
.inner #content { padding: 180px 0 30px; min-height: 500px; }

.inner #content h1 { margin: 10px auto 30px; text-align: center; }

/*###################################
## Responsives
###################################*/
@media screen and (max-width: 800px) { .cta { background: blue url("assets/images/phonecall.png") no-repeat center center; border-bottom-left-radius: 40px; border-top: 2px solid red; border-top-left-radius: 40px; text-decoration: none; text-indent: -9999em; position: fixed; display: block; bottom: 13%; height: 80px; width: 100px; z-index: 999; right: 0; } }
